body {
    background: #456767;
    color : #ffffff;
}

/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body > section {
    clear: both;
    padding: 50px 0;
}

.navbar-default {

    box-shadow: :none;
    background-color: transparent;
    border: none;
    min-height: 90px;
    padding-top: 20px;
}

.nav > li > a {
    text-transform: uppercase;
    color: #15365b;
    font-size: 1.3em;
}

h2,h3 {
    color:#ffffff;
    margin-bottom:30px;
}

h2:after,h3:after{
    content: "";
    width: 40px;
    height: 5px;
    background-color: #15365b;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}


section#slider{
    background: rgb(30,61,90);
    background: -moz-linear-gradient(top, rgb);
    background: -webkit-gradient(linear,left);
    background: -webkit-linear-gradient(top);
    background: -o-linear-gradient(top,rgb);
    background: -ms-linear-gradient(top,rgb);
    background: linear-gradient(to bottom,rgb);
    min-height: 700px;
    padding-top: 100px 0;
}

section#slider img {
    margin: 0 auto;
}

.modal-body{
    text-align: center;
}


section#voteus input,
section#voteus textarea {
    min-height: 50px;
    margin-bottom: 20px;
    background-color: #1a3d61;
    border: 2px solid #ffffff;
    border-radius: 25px;
    color: #ffffff;
}

section#voteus textarea{
    min-height: 200px;
}
section#voteus input.btn {
    background-color: green;
    border-radius: 25px;
    padding: 5px 10px;
    font-size: 1.4em;
}

::-webkit-input-placeholder {
    color: #ffffff!important;
}

:moz-placeholder{
    color: #ffffff!important;
}
::moz-placeholder{
    color: #ffffff!important;
}

:-ms-input-placeholder {
    color: #ffffff!important;
}

footer p {
    background-color: #102745;
    padding: 10px 0;
    color: #ffffff;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */



@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

.panel-body {
  color: black;
}


* { padding: 0; margin: 0; vertical-align: top; }


a { color: #069; }
a:hover { color: #28b; }

h2 {
    margin-top: 15px;
    font: normal 32px "omnes-pro", Helvetica, Arial, sans-serif;
}

h3 {
    margin-left: 30px;
    font: normal 26px "omnes-pro", Helvetica, Arial, sans-serif;
    color: #666;
}

button {
    font-size: 18px;
    padding: 1px 7px;
}

input {
    font-size: 18px;
}

input[type=checkbox] {
    margin: 7px;
}

#header {
    position: relative;
    width: 900px;
    margin: auto;
}

#header h2 {
    margin-left: 10px;
    vertical-align: middle;
    font-size: 42px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

#content {
    width: 1120px;
    margin: 0 auto;
    padding: 10px;
}

#footer {
    margin-top: 25px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 12px;
    color: #999;
}

.movingfloatobject {
    box-sizing: border-box;
    width: 1120px;
    height: 250px;
    padding: 20px 15px 15px 15px;
    margin: 15px auto 30px auto;
    border: 1px solid #ddd;
    background: #fff;
    background: linear-gradient(#f6f6f6 0, #fff 50px);
    background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
    background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
    box-shadow: 0 3px 10px rgba(0,0,0,0.15);
    -o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    -ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.movingfloatobject-holder {
    width: 100%;
    height: 100%;
    font-size: 14px;
    line-height: 1.2em;
}

.legend table {
    border-spacing: 5px;
}

a {
    text-decoration: none !important;
}

#accordion .highlight {
    background:#F6860C;
        color:#fff;
}
